.icon {
    border-radius: 10px;
}

.vr {
    border-left: 10px solid;
    height: 100px;
}

#spotify:hover {
    background-color: #1ED660;
}

#linkedin:hover {
    background-color: #0276B5;
}

#github:hover {
    background-color: #049DF8;
}